<head>
  <title>Results</title>
  <%= erb :header %>

</head>

<body>
<p>Thank you for your feedback.</p>

<br>

<form method="post" action="/">
  <button name='reset' type="submit" value='true'>Return</button>
</form>


</body>