<head>
  <title>Merriam-Webster</title></head>
  <%= erb :header %>
<body>

<h2>Check your knowledge of Oxford 3000 words</h2>
<p><a href='https://www.oxfordlearnersdictionaries.com/about/oxford3000' target="_blank">Oxford 3000</a> is a list of the 3000 most important words to learn in English.</p>
<p>Select the check type:</p>
<form method="post" action="/">

  <input type="radio" id="dictionary" name="mode" value='dictionary' required>
  <label for="dictionary">Dictionary definitions</label><br>

  <input type="radio" id="thesaurus" name="mode" value='thesaurus' >
  <label for="thesaurus">Thesaurus definitions</label><br>

  <input type="radio" id="synonyms" name="mode" value='synonyms'>
  <label for="synonyms">Synonyms</label><br>

  <input type="radio" id="antonyms" name="mode" value='antonyms'>
  <label for="antonyms">Antonyms</label><br>

  <input type="radio" id="usage" name="mode" value='usage'>
  <label for="usage">Usage</label><br><br>

  <input type="submit" value="Go!">

</form>
<br><br>

<form id="feedback-main" class = "feeback" method="post" action="/send">
  <p style="text-align: center;"><b>Feedback</b></p>
  <label for="name">Your name </label><br>
  <input type="text" id="name" name="user"><br><br>
  <label for="message">Message </label><br>

  <textarea id="message" name="message" rows="3"
            placeholder='Leave any comment or suggest an improvement or definition correction'
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Leave any comment or suggest an improvement or definition correction'"></textarea>
  <br><br>
  <input type="submit" value="Send">
</form>

<script>
    function toggle_visibility() {
        let e = document.getElementById('feedback-main');
        if(e.style.display == 'block')
            e.style.display = 'none';
        else
            e.style.display = 'block';
    }
</script>
<button id="popup" class="feedback-button" onclick="toggle_visibility()">Feedback</button>

</body>