body {
   font-family: "Helvetica Neue", serif;/*
   background-image: linear-gradient(to bottom right, burlywood, #bf935a);  */
   background-image: url("/img/sketchbook2.jpg");
   background-size: 100% 100%;
   background-position: right bottom;
   background-repeat: no-repeat;
   background-attachment: scroll;
   color: #c4b39f;
   margin: 5% 20% 0;
}

@media screen and (max-width: 1160px) {
   body {
      margin: 5% 30% 0 32%;
   }
}

@media screen and (max-width: 900px) {
   body {
      background-image: none;
      background-color: #1e1e1d;
   }
}

h2, h3 {
   text-align: center;
   margin-bottom: 0;
   color: #b98a78;
}

h4 {
   margin: 0 0 1% 5%;
   font-size: 20px;
}

input[type='submit'], button {
   background-color: #cfd4bf;
   border-radius: 5px;
   font-size: 14px;

}

input:hover, button:hover {
   cursor: pointer;
   background: #c2c7ad;
   box-shadow: inset 6px 6px 11px #c8a67a,
   inset -6px -6px 11px #f4ca95;
}

img {
   width: 30%;
   position: relative;
   left: 70%;
   top: 100px;
}

a {
   color: pink;
}


#feedback-main{
   font-size: 14px;
   display:none;
   float:left;
   position:absolute;
   left:70%;
   bottom: 0;
   opacity: 0.5;
   border: solid #cfd4bf 3px;
   border-radius: 7px;
   padding: 0 5px 5px;
}

.feedback-button {
   background-color: #1e1e1d;
   border-radius: 5px;
   -webkit-transform:rotate(-90deg);
   font-weight:600;
   color:white;
   transform:rotate(-90deg);
   -ms-transform:rotate(-90deg);
   -moz-transform:rotate(-90deg);
   text-align:center;
   font-size:17px;
   position:fixed;
   right:-40px;
   top:70%;
   font-family: "Helvetica Neue", serif;
}


input[type='text'], textarea {
   background-color: #cfd4bf;
   border-radius: 5px;
   font-size: 14px;
   vertical-align: middle;

}

textarea::-webkit-input-placeholder { color: gray; font-size: 10px; }

.email{
   padding: 0;
   margin: 0;
}
.correctOption{
   color: yellowgreen;
}

.correctCheckbox::before {
   content: " ✅ ";
}

.wrongOption {
   color: DimGray;
}

.wrongChekox::before {
   content: " 🤢 ";
}

/* Tooltip container */
.tooltip {
   position: relative;
   display: inline-block;
   cursor: pointer; /*
   border-bottom: 1px dotted white; If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
   visibility: hidden;
   width: 200px;
   background-color: #a3797f;
   color: black;
   text-align: center;
   padding: 10px 0;
   border-radius: 6px;
   font-size: 14px;

   /* Position the tooltip text - see examples below! */
   position: absolute;
   z-index: 1;
   top: -5px;
   left: 105%;
}
    /* Left arrow for the tooltip */
.tooltip .tooltiptext::after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%; /* To the left of the tooltip */
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent #a3797f transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
   visibility: visible;
}
