body {
   font-family: "Helvetica Neue", serif;/*
   background-image: linear-gradient(to bottom right, burlywood, #bf935a);  */
   background-image: url("/img/sketchbook2.jpg");
   background-size: 100% 100%;
   background-position: right bottom;
   background-repeat: no-repeat;
   background-attachment: scroll;
   color: #c4b39f;
   margin: 5% 20% 0 20%;
}

@media screen and (max-width: 1160px) {
   body {
      margin: 5% 30% 0 32%;
   }
}

h2, h3 {
   text-align: center;
   margin-bottom: 0;
   color: #b98a78;
}

h4 {
   margin: 0 0 1% 5%;
   font-size: 20px;
}

input[type='submit'], button {
   background-color: #cfd4bf;
   border-radius: 5px;
   font-size: 14px;

}

input:hover, button:hover {
   cursor: pointer;
   background: #c2c7ad;
   box-shadow: inset 6px 6px 11px #c8a67a,
   inset -6px -6px 11px #f4ca95;
}

img {
   width: 30%;
   position: relative;
   left: 70%;
   top: 100px;
}

a {
   color: pink;
}

.feeback{
   font-size: 12px;
}

input[type='text'], textarea {
   background-color: #cfd4bf;
   border-radius: 5px;
   font-size: 14px;
   vertical-align: middle;
}

label {
   width: 20px;
}

textarea::-webkit-input-placeholder { color: gray; font-size: 10px; }